
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{padding: 0px;
    margin: 0px;
    font-family: 'Raleway',sans-serif;

}
body{margin: 0px;
    padding: 0px;
    background-color:black;
    
}
.center{
    font-weight: bold;
    font-size: 3em;
    font-family: inherit;
    text-align: center;
}
nav{
    background-color: black;
    justify-content: space-between;
    padding: 0.2rem;
    z-index: 9;
    position: relative;
    min-height: 12vh;
    height: 0rem;
    overflow-y:hidden;
    transition:all 1s ease ;

}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav .nav-brand{
    display: flex;
}
nav .nav-items{
    list-style-type: none;
    margin: 0;
    display:flex;
    direction: row;
    flex-wrap: wrap ;
}
nav .nav-items .nav-link{
    padding-top: 25px;
    padding-right: 25px;
}
  nav .nav-items .nav-link a{
   border: 2px solid crimson;
   border-radius: 50px;
   padding-left: 20px;
   padding-right: 20px;
   font-family:inherit;
   font-size: 1.5em;
   color: white;
   font-weight: bold;
   text-decoration: none;
   transition: 300ms;
     
 
  } 
  nav .nav-items .nav-link a:hover{
      color: crimson;
  }


.nav-brand h1{
    font-family:'Raleway',sans-serif;
    font-weight: bold;
    color: crimson;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
}


nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 100%;
    cursor: pointer;
    display: none;
    
}
nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding:1.4rem 2rem;
    padding-top: 18px;
}
nav .toggle-collapse .toggle-icons{
    font-size:25px;
    color: crimson;
}
.collapse{
    height: 30rem;
}
.main-img {
    background-image: url(land.jpg);
    position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    position:absolute;
    

}
.main-img h1{
    padding-top: 300px;
    text-align: center;
    font-size: 3em;
    font-family:'Roboto Mono',sans-serif;
    transition: 300ms;
    color:white;
    font-weight: bold;
    
}
#about{
    margin-top: 600px;
    padding-top: 150px;
    padding-bottom: 80px;
}
#about1{
    padding-top: 150px;
    padding-bottom: 80px;
}
#about2{
    padding-top: 50px;
    padding-bottom: 80px;
}
.abt-container p{
    margin-top: 30px;
    text-align: center;
    font-size: 1.2em;
    
}
.abt-container h1{
    margin-top: 60px;
    font-family: inherit;
}
.abt-container{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.slides{
    margin-top: 40px;
    width: 50%;
 
}
#products{
margin-top: 200px;
}
#products1{
    margin-top:100px;
    }

.item-cards{
    margin-top: 30px;
    display: flex;
    justify-content:space-between;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    border-radius: 40px;
}
.item-img img{
    width: 300px;
    padding: 25px;
}
.item-des{
    padding: 25px;
}
.item-links{
    padding-bottom: 10px;
}
.item-links a{
    margin-inline:35px;
    justify-content: space-between;
    text-decoration: none;
    background-color: #41E576;;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    
}
.item-links a:hover{
    color: black;
    
}
#key-features{
    margin-top: 200px;
}
.feature-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-div ul{
    margin-left: 50px;
    padding: 50px;
    background-color: #83e9a3;
    border-radius: 20px;
}
.feature-div li{
    list-style-type: none;
    padding: 15px;
    margin-top: 15px;
    background-color: #41E576;
    color: white;
    border-radius: 20px;
}
.feature-div img{
    width: 50%;
}
#support{
    margin-top:100px;
}
#support1{
        margin-top:50px;
}
.support-form{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.frm-txt{
    display: flex;
    flex-direction: column;
}
.frm-txt h3{
    margin-left: 80px;
    margin-bottom: 50px;
    font-weight: bold;

}
.contact-icons{
    margin-left:60px;
    font-size: 40px;
    
}
.contact-icons a{
    padding: 20px;
    color: #41E576;
}
.contact-icons a:hover{
    color: black;
}
form{
    display: flex;
    flex-direction: column;
    margin-right:100px;
    
}
form input{
    border: 1px solid #41E576;
    margin: 10px;
    padding: 15px;
    border-radius: 50px;
}
form textarea{
    border: 1px solid #41E576;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
}
form button{
    color: white;
    background-color: #41E576;
    border: 0px;
    border-radius: 30px;
    transition:300ms;
}
form button:hover{
    color: black;
    scale: 1.2;
}
#footer-section{
    margin-top: 100px;
}
footer{
    display: flex;
    flex-direction: column;
align-items: center;
padding: 25px;
color: white;
background-color: black;
justify-content: center;
}
.footer-top{
    display: flex;
}
footer h6{
    padding-right: 5px;
}
footer a{
    text-decoration: none;
    color: #41E576;
}
footer a:hover{
    color: white;
}
.footer-icons a{
    font-size: 20px;
    padding: 10px;
}
.aboutus-container{
 margin-top: 100px;
 text-align: center;
 margin-bottom: 0px;   
}
.aboutus-container p{
font-size: 30px;
margin: 30px;
}



@media only screen and (max-width:800px){
    .center{
        font-weight: bold;
        font-size: 30px;
        font-family: inherit;
        text-align: center;
    }

    


    .nav-brand h1{
        font-family:'Raleway',sans-serif;
        font-weight: bold;
        padding-top: 20px;
        padding-left: 10px;
        font-size: 1.5em;
    }
    nav{
        background-color: black;
        justify-content: space-between;
        padding: 0.2rem;
        z-index: 9;
        position: relative;
        min-height: 10vh;
        height: 0rem;
        overflow-y:hidden;
        transition:all 1s ease ;
    }
    nav .nav-items{
        flex-direction: column !important;
    }
    nav{
        flex-direction: column !important;
        display: block !important;
    }
    nav .toggle-collapse{
        display: initial;
    }
    .main-img h1{
        margin-top: 60px;
    }
    #about{
        margin-top: 520px;
    }
    
   
    
    .slides{
        margin-top: 40px;
        width: 100%;
        height: 100%;
    } 
    .car-txt{
        display: block;
        margin-left: 20px;
        margin-right: 20px;
    } 

     .item-cards{
         display: flex;
         flex-direction:column;
         justify-content: center;
         padding: 30px;
     } 
     .feature-div img{
         display: none;
     }
     .feature-div ul{
       margin:25px;
    }
    .feature-div li{
        list-style-type: none;
        padding: 15px;
        margin-top: 15px;
        background-color: #41E576;
        color: white;
        border-radius: 20px;
    }
    .frm-txt h3{
        text-align: center;
        margin-left: 20px;
    }
    .form-div{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
    }
    .frm-txt {
        text-align: center;
       
    }
    .contact-icons{
        text-align: center;
        margin: 0px;
        margin-bottom: 40px;
    }
    .support-form{
        display: flex;
        flex-direction: column;
        
    }
      
}