
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{padding: 0px;
    margin: 0px;
    font-family: 'Raleway',sans-serif;

}
body{margin: 0px;
    padding: 0px;
    background-color:black;
    
}
.center{
    font-weight: bold;
    font-size: 3em;
    font-family: inherit;
    text-align: center;
}
nav{
    background-color: white;
    justify-content: space-between;
    padding: 0.2rem;
    z-index: 9;
    position: relative;
    min-height: 12vh;
    height: 0rem;
    overflow-y:hidden;
    transition:all 1s ease ;

}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav .nav-brand{
    display: flex;
}
nav .nav-items{
    list-style-type: none;
    margin: 0;
    display:flex;
    direction: row;
    flex-wrap: wrap ;
}
nav .nav-items .nav-link{
    padding-top: 25px;
    padding-right: 25px;
}
  nav .nav-items .nav-link a{
   border: 2px solid crimson;
   border-radius: 50px;
   padding-left: 20px;
   padding-right: 20px;
   font-family:inherit;
   font-size: 1.5em;
   color: black;
   font-weight: bold;
   text-decoration: none;
   transition: 300ms;
     
 
  } 
  nav .nav-items .nav-link a:hover{
      color: crimson;
  }


.nav-brand h1{
    font-family:'Raleway',sans-serif;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
}


nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 100%;
    cursor: pointer;
    display: none;
    
}
nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding:1.4rem 2rem;
    padding-top: 18px;
}
nav .toggle-collapse .toggle-icons{
    font-size:25px;
}
.collapse{
    height: 30rem;
}
.main-img {
    background-image: url(land.jpg);
    position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    position:absolute;
    

}
.main-img h1{
    padding-top: 300px;
    text-align: center;
    font-size: 3em;
    font-family:'Roboto Mono',sans-serif;
    transition: 300ms;
    color:white;
    font-weight: bold;
    
}
#about{
    margin-top: 600px;
    padding-top: 150px;
    padding-bottom: 80px;
}
.abt-container p{
    margin-top: 30px;
    text-align: center;
    font-size: 1.2em;
    
}
.abt-container h1{
    margin-top: 60px;
    font-family: inherit;
}
.abt-container{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.slides{
    margin-top: 40px;
 width: 50%;
 
}
.car-txt {
    display: none;
}


@media only screen and (max-width:800px){
    .center{
        font-weight: bold;
        font-size: 30px;
        font-family: inherit;
        text-align: center;
    }

    


    .nav-brand h1{
        font-family:'Raleway',sans-serif;
        font-weight: bold;
        padding-top: 20px;
        padding-left: 10px;
        font-size: 1.5em;
    }
    nav{
        background-color: white;
        justify-content: space-between;
        padding: 0.2rem;
        z-index: 9;
        position: relative;
        min-height: 10vh;
        height: 0rem;
        overflow-y:hidden;
        transition:all 1s ease ;
    }
    nav .nav-items{
        flex-direction: column !important;
    }
    nav{
        flex-direction: column !important;
        display: block !important;
    }
    nav .toggle-collapse{
        display: initial;
    }
    .main-img h1{
        margin-top: 60px;
    }
    #about{
        margin-top: 520px;
    }
    
   
    
    .slides{
        margin-top: 40px;
        width: 100%;
        height: 100%;
    } 
    .car-txt{
        display: block;
        margin-left: 20px;
        margin-right: 20px;
    } 

        
}